html, body{
    overflow-x: hidden;
}
#showdata{
    width: 100%;
    height: 100%;
}
.pk_div{
    width: 100%;
    min-height: 400px;
    height: 70%;
    background-image: url('../images/fight_background.png');
    background-size: contain;
    position: relative;
    z-index: -100;
}

.pk_my{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;

}
.pk_my #my_role{
    width: 300px;
    position: absolute;
    left: 100px;
    bottom: -120px;
    z-index: 1;
    animation:my_pk_start 2s;
    -moz-animation:my_pk_start 2s; /* Firefox */
    -webkit-animation:my_pk_start 2s; /* Safari and Chrome */
    -o-animation:my_pk_start 2s; /* Opera */
}
.pk_my #my_floor{
    width: 400px;
    position: absolute;
    left: 100px;
    bottom: -50px;
    z-index: -1;
    animation:my_pk_start 2s;
    -moz-animation:my_pk_start 2s; /* Firefox */
    -webkit-animation:my_pk_start 2s; /* Safari and Chrome */
    -o-animation:my_pk_start 2s; /* Opera */
}
@keyframes my_pk_start
{
    0%   {left:-100px;}
    100% {left:100px;}
}

.pk_bear{
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
}
.pk_bear #bear_role{
    width: 200px;
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: 1;
    animation:bear_pk_start 2s;
    -moz-animation:bear_pk_start 2s; /* Firefox */
    -webkit-animation:bear_pk_start 2s; /* Safari and Chrome */
    -o-animation:bear_pk_start 2s; /* Opera */
}
.pk_bear #bear_floor{
    width: 400px;
    position: absolute;
    top: 220px;
    right: 70px;
    z-index: -1;
    animation:bear_floor_pk_start 2s;
    -moz-animation:bear_floor_pk_start 2s; /* Firefox */
    -webkit-animation:bear_floor_pk_start 2s; /* Safari and Chrome */
    -o-animation:bear_floor_pk_start 2s; /* Opera */
}
@keyframes bear_pk_start
{
    0%   {right: -60px;}
    100% {right: 180px;}
}
@keyframes bear_floor_pk_start
{
    0%   {right: -100px;}
    100% {right: 70px;}
}

#bear_blood{
    width: 35%;
    min-width: 400px;
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 2;
}
#my_blood{
    width: 35%;
    min-width: 400px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    z-index: 2;

}

section{
    width: 100%;
    min-height: 150px;
    height: 30%;
    background-color: rgb(51, 51, 51);
    padding: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
section > div{
    height: 100%;
    background-color: rgb(102, 102, 102);
    padding: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
section .content{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(246, 246, 217);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
section .depiction{
    min-width: 80%;
    border-radius: 8px 0 0 8px;
    float: left;
}
section .depiction .content{
    padding-top: 10px;
    padding-left: 3%;
    font-size: 26px;
    font-family: "標楷體";
}
section .question{
    width: 19%;
    border-radius: 8px;
    float: left;
    margin-right: 1%;
    font-size: 20px;
}
section .question .content{
    padding-left: 10px;
    padding-top: 20px;
    font-family: "標楷體";
}
section .option{
    width: 60%;
    float: left;
    border-radius: 8px 0 0 8px;
    font-size: 18px;
}
section .option table{
    margin: auto;
    width: 95%;
    height: 100%;
}
section .option tr{
    display: block;
    height: 33.33%;
    float: left;
}
section .option tr:nth-child(odd){
    width: 55%;
}
section .option tr:nth-child(even){
    width: 45%;
}
section .option td{
    min-width: 80px;
    cursor: pointer;
    font-family: "標楷體";
}
section .action{
    min-width: 20%;
    border-radius: 0 8px 8px 0;
    float: right;
}
section .action .content{
    font-size: 26px;
}
section .action table{
    margin: auto;
    width: 90%;
    height: 100%;
}
section .action td{
    width: 50%;
    height: 50%;
    text-align: right;
    cursor: pointer;
}
section .action td:hover::before{
    content: "▶ ";
    font-size: 22px;
}
.other_text input{
    width: 79%;
    float: left;
    border-radius: 5px;
    border: 1px solid #666;
    background-color: rgb(240, 240, 240);
    outline: none;
    font-family: "標楷體";
    padding-left: 3px;
}
.other_text button{
    width: 20%;
    font-size: 16px;
    line-height: 26px;
    border-radius: 5px;
    border: 0;
    background-color: #D20B2A;
    color: #fff;
    float: right;
}
.other_text button:hover{
    background-color: rgb(175, 13, 37);
}


/* 跳出視窗 */
#dialog{
    width: 100%;
    position: fixed;
    left:0;
    top: -100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
    z-index:100;
}
#dialog .dialog_box{
    width: 300px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: -5%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(246, 246, 217);
    border-radius: 10px;
    border: 5px solid #444;
    -moz-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    padding: 50px 10px;
}
#dialog:target {
    opacity: 1;
    top: 0;
    bottom: 0;
}
#dialog:target,#dialog .dialog_box:target {
    max-height: 100%;
    max-width: 100%;
}
#dialog:target .dialog_close ,#dialog:target .dialog_box{
    top: 0%;
}
.dialog_box #dialog_content{
    line-height:30px;
    text-align:center;
    font-size:18px;
    letter-spacing: 1px;
}
.dialog_close{
    margin:5%;
    display: block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background-image:url('../images/close-button2.png');
    background-size:20px;
    background-repeat:no-repeat;
    color: #fff;
    position: absolute;
    top: -5%;
    right: 0;
    -moz-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}
#btn_dialog{
    width:80%;
    display:block;
    background-color:rgb(133, 133, 133);
    border:none;
    border-radius:5px;
    padding:8px 0;
    overflow:hidden;
    box-shadow:none;
    margin:auto;
    color:white;
    letter-spacing: 1px;
    cursor: pointer;
    outline:0;
    position: absolute;
    right: 50%;
    bottom: 8%;
    transform: translateX(50%);
    font-size: 16px;
    font-weight: 600;
}
#btn_dialog:hover{background-color:#777777;}


@media only screen and (min-width: 1920px){   
    .pk_my #my_role{
        /* width: 450px; */
        width: 60%;
        left: 100px;
        bottom: -200px;
    }
    .pk_my #my_floor{
        /* width: 650px; */
        width: 80%;
        left: 100px;
        bottom: -70px;
    }
    @keyframes my_pk_start
    {
        0%   {left:-100px;}
        100% {left:100px;}
    }
    
    .pk_bear #bear_role{
        width: 35%;
        top: 60px;
        right: 200px;
    }
    .pk_bear #bear_floor{
        width: 70%;
        top: 400px;
        right: 50px;
    }
    @keyframes bear_pk_start
    {
        0%   {right: -80px;}
        100% {right: 200px;}
    }
    @keyframes bear_floor_pk_start
    {
        0%   {right: -100px;}
        100% {right: 50px;}
    }

    /*     
    section .depiction{
        min-width: 80%;
        border-radius: 8px 0 0 8px;
        float: left;
    }
    section .depiction .content{
        padding-top: 10px;
        padding-left: 3%;
        font-size: 26px;
        font-family: "標楷體";
    } */

    section .question{
        font-size: 40px;
    }
    section .option{
        font-size: 28px;
    }
    section .action .content{
        font-size: 46px;
    }
    section .action td:hover::before{
        font-size: 40px;
    }

    /* 跳出視窗 */
    #dialog .dialog_box{
        width: 500px;
        height: 250px;
        padding: 50px 10px;
    }
    .dialog_box #dialog_content{
        line-height: 60px;
        font-size: 28px;
    }
    .dialog_close{
        margin:5%;
        display: block;
        width: 30px;
        height: 30px;
        background-image:url('../images/close-button2.png');
        background-size:30px;
    }
    #btn_dialog{
        font-size: 26px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {   
    .pk_div{
        height: calc( 100% - 480px);
        min-height: 400px;
        margin-top: 180px;
    }
    .pk_my{
        width: 100%;
        height: 50%;
    }
    .pk_my #my_role{
        width: 600px;
        left: -150px;
        bottom: -250px;
        z-index: 1;
    }
    .pk_my #my_floor{
        width: 900px;
        left: -150px;
        bottom: -100px;
    }
    @keyframes my_pk_start
    {
        0%   {left:-400px;}
        100% {left:-150px;}
    }

    .pk_bear{
        width: 100%;
        height: 50%;
    }
    .pk_bear #bear_role{
        width: 300px;
        top: 120px;
        right: 150px;
    }
    .pk_bear #bear_floor{
        width: 700px;
        top: 420px;
        right: -100px;
    }
    @keyframes bear_pk_start
    {
        0%   {right: -300px;}
        100% {right: 150px;}
    }
    @keyframes bear_floor_pk_start
    {
        0%   {right: -400px;}
        100% {right: -100px;}
    }

    #bear_blood{
        width: 50%;
        top: 30px;
        left: 40px;
    }
    #my_blood{
        width: 50%;
        bottom: 30px;
        right: 40px;
    }

    section{
        height: 300px;
    }
    section .depiction .content{
        padding-top: 10px;
        padding-left: 3%;
        font-size: 30px;
    }

    section .question{
        width: 100%;
        height: 180px;
        position: fixed;
        top: 0;
        left: 0;
    }
    section .question .content{
        padding-left: 30px;
        padding-top: 30px;
        font-size: 40px;
    }

    section .option{
        width: 85%;
        font-size: 30px;
    }
    section .option td{
        vertical-align: text-top;
        padding-top: 10px;
    }

    section .action{
        min-width: 15%;
        border-radius: 0 8px 8px 0;
        float: right;
        overflow: hidden;
    }
    section .action .content{
        font-size: 30px;
    }
    section .action table{
        margin: auto;
        padding-top: 20%;
        width: 70%;
        height: 90%;
    }
    section .action tr{
        height: 25%;
    }
    section .action td{
        width: 100%;
        display: block;
    }


    /* 跳出視窗 */
    #dialog .dialog_box{
        width: 500px;
        height: 120px;
        padding: 100px 10px;
    }
    .dialog_box #dialog_content{
        line-height:60px;
        font-size:30px;
    }
    .dialog_close{
        margin:5%;
        width: 40px;
        height: 40px;
        background-size:40px;
    }
    #btn_dialog{
        width:90%;
        padding:10px 0;
        font-size: 26px;
    }

}


@media only screen and (min-width: 421px) and (max-width: 768px) {
    .pk_div{
        height: calc( 100% - 320px);
        min-height: 400px;
        margin-top: 120px;
    }
    .pk_my{
        width: 100%;
        height: 50%;
    }
    .pk_my #my_role{
        width: 500px;
        left: -120px;
        bottom: -200px;
        z-index: 1;
    }
    .pk_my #my_floor{
        width: 750px;
        left: -120px;
        bottom: -100px;
    }
    @keyframes my_pk_start
    {
        0%   {left:-300px;}
        100% {left:-120px;}
    }

    .pk_bear{
        width: 100%;
        height: 50%;
    }
    .pk_bear #bear_role{
        width: 250px;
        top: 70px;
        right: 80px;
    }
    .pk_bear #bear_floor{
        width: 550px;
        top: 320px;
        right: -100px;
    }
    @keyframes bear_pk_start
    {
        0%   {right: -200px;}
        100% {right: 80px;}
    }
    @keyframes bear_floor_pk_start
    {
        0%   {right: -300px;}
        100% {right: -100px;}
    }

    #bear_blood{
        width: 50%;
        top: 20px;
        left: 30px;
    }
    #my_blood{
        width: 50%;
        bottom: 20px;
        right: 30px;
    }

    section{
        height: 200px;
    }
    section .depiction .content{
        padding-top: 10px;
        padding-left: 3%;
        font-size: 26px;
    }

    section .question{
        width: 100%;
        height: 120px;
        position: fixed;
        top: 0;
        left: 0;
    }
    section .question .content{
        padding-left: 30px;
        padding-top: 20px;
        font-size: 26px;
    }

    section .option{
        width: 82%;
        font-size: 22px;
    }
    section .option td{
        vertical-align: text-top;
        padding-top: 10px;
    }

    section .action{
        min-width: 18%;
        border-radius: 0 8px 8px 0;
        float: right;
        overflow: hidden;
    }
    section .action .content{
        font-size: 22px;
    }
    section .action table{
        margin: auto;
        padding-top: 5%;
        width: 70%;
        height: 100%;
    }
    section .action tr{
        height: 25%;
    }
    section .action td{
        width: 100%;
        display: block;
    }


    /* 跳出視窗 */
    #dialog .dialog_box{
        width: 500px;
        height: 120px;
        padding: 100px 10px;
    }
    .dialog_box #dialog_content{
        line-height:60px;
        font-size:30px;
    }
    .dialog_close{
        margin:5%;
        width: 40px;
        height: 40px;
        background-size:40px;
    }
    #btn_dialog{
        width:90%;
        padding:10px 0;
        font-size: 26px;
    }
}
@media only screen and (min-width: 0px) and (max-width: 420px){
    .role_div{
        height: calc( 100% - 120px);
    }
    .role_1, .role_2{
        width: 100%;
        height: 50%;
        padding: 12%;
        text-align: center;
    }
    .role_div img{
        width: auto;
        height: 100%;
    }
    
    section{
        height: 120px;
    }
    section .content{
        padding-top: 30px;
        font-size: 22px;
    }

}






.rwd-table {
    background: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    min-width: 100%;
}
    
.rwd-table td {
    margin: 0.5em 1em;
    display: block;
    text-align: left;
    }
    
    .rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
    color: #D20B2A;
    font-weight: bold;
    }
    
    @media (min-width: 480px) {
        .rwd-table td:before {
        display: none;
        }
        .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
        padding: 1em !important;
        }
        .rwd-table td:first-child {
        padding-left: 0;
        }
        .rwd-table td:last-child {
        padding-right: 0;
        }
    }