/* .top_background{
    width: 100%;
    min-height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.top_div{
    width: 100%;
    height: 48%;
    background-color: rgb(201,44,44); 
}
.line{
    width: 100%;
    height: 4%;
    background-color: black;

}
.bottom_div{
    width: 100%;
    height: 48%;
    background-color: #fff;

} */
html, body{
    overflow-x: hidden;
}
.role_div{
    width: 100%;
    min-height: 300px;
    height: 75%;
    background-image: url('../images/background.png');
    background-size: contain;
}
.role_1, .role_2{
    width: 50%;
    height: 100%;
    float: left;
    padding: 5%;
}
.role_1{
    text-align: right;
}
.role_2{
    text-align: left;
}
.role_1 img, .role_2 img{
    width: auto;
    height: 100%;
}

section{
    width: 100%;
    min-height: 120px;
    height: 25%;
    background-color: rgb(51, 51, 51);
    padding: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
section .bottom_background{
    width: 100%;
    height: 100%;
    background-color: rgb(102, 102, 102);
    border-radius: 8px;
    padding: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
section .content{
    width: 100%;
    height: 100%;
    padding-top: 1%;
    border-radius: 8px;
    background-color: rgb(246, 246, 217);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 3%;
    font-size: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .role_div{
        height: calc( 100% - 240px);
    }
    .role_1, .role_2{
        width: 100%;
        height: 50%;
        padding: 8%;
        text-align: center;
    }
    .role_div img{
        width: auto;
        height: 100%;
    }
    
    section{
        height: 240px;
    }
    section .content{
        padding-top: 50px;
        font-size: 46px;
    }
}
@media only screen and (min-width: 421px) and (max-width: 768px) {
    .role_div{
        height: calc( 100% - 200px);
    }
    .role_1, .role_2{
        width: 100%;
        height: 50%;
        padding: 8%;
        text-align: center;
    }
    .role_div img{
        width: auto;
        height: 100%;
    }
    
    section{
        height: 200px;
    }
    section .content{
        padding-top: 40px;
        font-size: 40px;
    }
}
@media only screen and (min-width: 0px) and (max-width: 420px){
    .role_div{
        height: calc( 100% - 120px);
    }
    .role_1, .role_2{
        width: 100%;
        height: 50%;
        padding: 12%;
        text-align: center;
    }
    .role_div img{
        width: auto;
        height: 100%;
    }
    
    section{
        height: 120px;
    }
    section .content{
        padding-top: 30px;
        font-size: 22px;
    }

}