<!-- 
                            _ooOoo_
                           o8888888o
                           88" . "88
                           (| -_- |)
                            O\ = /O
                        ____/`---'\____
                      .   ' \\| |// `.
                       / \\||| : |||// \
                     / _||||| -:- |||||- \
                       | | \\\ - /// | |
                     | \_| ''\---/'' | |
                      \ .-\__ `-` ___/-. /
                   ___`. .' /--.--\ `. . __
                ."" '< `.___\_<|>_/___.' >'"".
               | | : `- \`.;`\ _ /`;.`/ - ` : | |
                 \ \ `-. \_ __\ /__ _/ .-` / /
         ======`-.____`-.___\_____/___.-`____.-'======
                            `=---='

         .............................................
                  佛祖鎮樓                  沒有BUG
          佛曰:
                  程序人員寫程序，又拿程序換酒錢。
                  酒醒只在網上坐，酒醉還來網下眠；
                  酒醉酒醒日復日，網上網下年復年。
                  但願老死電腦間，不願鞠躬老闆前；
                  奔馳寶馬貴者趣，公交自行程序員。
                  別人笑我忒瘋癲，我笑自己命太賤；
                  不見滿街漂亮妹，哪個歸得程序員？
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>enter</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/enter.css">
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>

</head>

<body>
    <header>
        <img src="images/logo.png" />
    </header>
    <section id="login">
        <div class="title">
            神奇斜槓大冒險
        </div>
        <div class="enter_div">
            <div>
                <a>系級：</a>
                <input type="text" v-model="myclass" autofocus required="required" />
            </div>
            <div>
                <a>姓名：</a>
                <input type="text" v-model="name" required="required" />
            </div>
            <div>
                <a>學號：</a>
                <input type="number" v-model="id_student" required="required" />
            </div>
        </div>
        <input type="button" class="go_btn" value="開始冒險！" v-on:click="login()" />
    </section>
</body>
<script src="js/cycuslash.js"></script>
<script>
    var vm = new Vue({
        el: "#login",
        data: {
            myclass: "",
            name: "",
            id_student: ""
        },
        methods: {
            login: function () {
                sessionStorage.setItem("id_student", this.id_student);
                SendDataAJAX_enter(this.myclass, this.name, this.id_student);
                window.location.href = "./role.html";
            }
        }
    });

</script>

</html>