<!-- 
                            _ooOoo_
                           o8888888o
                           88" . "88
                           (| -_- |)
                            O\ = /O
                        ____/`---'\____
                      .   ' \\| |// `.
                       / \\||| : |||// \
                     / _||||| -:- |||||- \
                       | | \\\ - /// | |
                     | \_| ''\---/'' | |
                      \ .-\__ `-` ___/-. /
                   ___`. .' /--.--\ `. . __
                ."" '< `.___\_<|>_/___.' >'"".
               | | : `- \`.;`\ _ /`;.`/ - ` : | |
                 \ \ `-. \_ __\ /__ _/ .-` / /
         ======`-.____`-.___\_____/___.-`____.-'======
                            `=---='

         .............................................
                  佛祖鎮樓                  沒有BUG
          佛曰:
                  程序人員寫程序，又拿程序換酒錢。
                  酒醒只在網上坐，酒醉還來網下眠；
                  酒醉酒醒日復日，網上網下年復年。
                  但願老死電腦間，不願鞠躬老闆前；
                  奔馳寶馬貴者趣，公交自行程序員。
                  別人笑我忒瘋癲，我笑自己命太賤；
                  不見滿街漂亮妹，哪個歸得程序員？
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pk</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pk.css">
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/question.js"></script>
</head>
<script>

    function open_dialog(action) {
        switch (action) {
            case "bag":
                document.getElementById("dialog_content").innerHTML = "你/妳的背包空空如也。";
                document.getElementById("btn_dialog").value = "返回戰鬥";
                break;
            case "run":
                document.getElementById("dialog_content").innerHTML = "逃跑並不是解決辦法。";
                document.getElementById("btn_dialog").value = "還是腳踏實地面對戰鬥吧！";
                break;
            case "partner":
                document.getElementById("dialog_content").innerHTML = "別想了，你/妳沒有夥伴。";
                document.getElementById("btn_dialog").value = "繼續獨自奮戰QQ";
                break;
            default:
                document.getElementById("dialog_content").innerHTML = "還是腳踏實地，繼續戰鬥吧。";
                document.getElementById("btn_dialog").value = "好";
        }
    }
</script>

<body>
    <div id="showdata">
        <div class="pk_div">
            <div class="pk_bear">
                <img id="bear_role" src="images/bear.png" />
                <img id="bear_floor" src="images/floor.png" />
            </div>
            <div class="pk_my">
                <img v-if="role=='pika'" id="my_role" src="images/pika_back.png" />
                <img v-if="role=='miao'" id="my_role" src="images/miao_back.png" />
                <img id="my_floor" src="images/floor.png" />
            </div>
            <img id="bear_blood" src="images/bear_hp100.png" />
            <img v-if="role=='pika'" id="my_blood" src="images/pika_hp100.png" />
            <img v-if="role=='miao'" id="my_blood" src="images/miao_hp100.png" />
        </div>
        <section>
            <!-- <div class="depiction">
                <div class="content">
                    糟糕！看來是個難纏的對手。<br/>
                    看來是甩不掉他了......
                </div>
            </div> -->
            <div class="question">
                <div class="content">
                    <!-- 你為什麼要修習學程呢？ -->
                    {{ question }}
                </div>
            </div>
            <div class="option">
                <div class="content">
                    <table>
                        <tr v-for="(item, index) in answer">
                            <td v-bind:id="index" v-on:click="reply(id_question,index,item)" v-if="index==0">A.
                                {{item}}
                            </td>
                            <td v-bind:id="index" v-on:click="reply(id_question,index,item)" v-if="index==1">B.
                                {{item}}
                            </td>
                            <td v-bind:id="index" v-on:click="reply(id_question,index,item)" v-if="index==2">C.
                                {{item}}
                            </td>
                            <td v-bind:id="index" v-on:click="reply(id_question,index,item)" v-if="index==3">D.
                                {{item}}
                            </td>
                            <td v-bind:id="index" v-on:click="reply(id_question,index,item)" v-if="index==4">E.
                                {{item}}
                            </td>
                            <td v-if="seen && item=='其他' " class="other_text">
                                <input type="text" id="input_other" v-model="other">
                                <button v-bind:id="index" v-on:click="reply(id_question,index,item,1)">送出</button>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>A. 對學程有興趣。</td>
                            <td>B. 我也不知道，好像很有趣就選了。</td>
                        </tr>
                        <tr>
                            <td>C. 想修學程內的某些課程。</td>
                            <td>D. 其他</td>
                        </tr> -->
                    </table>
                </div>
            </div>
            <div class="action">
                <div class="content">
                    <table>
                        <tr>
                            <td>回答</td>
                            <td><a href="#dialog" onclick="open_dialog('bag')">背包</a></td>
                        </tr>
                        <tr>
                            <td><a href="#dialog" onclick="open_dialog('partner')">夥伴</a></td>
                            <td><a href="#dialog" onclick="open_dialog('run')">逃跑</a></td>
                        </tr>
                    </table>
                </div>
            </div>

            <!--跳出視窗-->
            <div id="dialog">
                <div class="dialog_box">
                    <div id="dialog_content">
                        還是腳踏實地，繼續戰鬥吧。
                    </div>
                    <a href="#"><input type="button" id="btn_dialog" value="好" /></a>
                    <a class="dialog_close" href="#"></a>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="js/cycuslash.js"></script>
<script>
    var myJson, JSONdata
    var strUrl = location.search;
    var getPara, ParaVal;
    var aryPara = [];
    //Get Json file
    fetch('./assets/data/questions.json').then(function (response) {
        return response.json();
    }).then(function (myJson) {
        JSONdata = myJson;
    });

    var vm = new Vue({
        el: '#showdata',
        // getURL                 => Get URL role=?
        data: {
            role: getURL(),
            score: "",
            finish: "",
            other: "",
            seen: false,
            id_question: 1,
            answer: ["是", "否"],
            question: "是否修過學程",
            id_student: sessionStorage.getItem("id_student"),
        },
        methods: {
            reply: function (id_question, id_answer, item, repeat) {
                /*
                    SendDataAJAX_pk    => Use axios send data to php files.
                    getNextData                =>  get next question、question.id、answer in question.js
                */

                getNextData(vm, id_question, id_answer, item, repeat);
                if (this.finish == true) {
                    sessionStorage.clear();
                    SendDataAJAX_pk(id_question, id_answer, this.other, this.id_student, this.score);
                    //Change page
                    window.location.href =
                        './result.html?score=' + this.score + "&id_student=" + this.id_student + "&role=" + this.role;
                } else if ((item == "其他" && repeat == 1) || item != "其他") {
                    this.seen = false;
                    SendDataAJAX_pk(id_question, id_answer, this.other, this.id_student, "");
                }
                if (repeat == 1) {
                    this.seen = false;
                    this.other = "";
                }
            }
        }
    })

    function getURL() {
        if (strUrl.indexOf("?") != -1) {
            var getSearch = strUrl.split("?");
            getPara = getSearch[1].split("&");
            for (i = 0; i < getPara.length; i++) {
                ParaVal = getPara[i].split("=");
                aryPara.push(ParaVal[0]);
                aryPara[ParaVal[0]] = ParaVal[1];
            }
        }
        return aryPara['role'];
    }
</script>

</html>