<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pk</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pk.css">
    <script src="question.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--生產版本-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<script>
    function getArgs() {
        var args = new Object();
        var query = location.search.substring(1);
        var pairs = query.split("&");
        for (var i = 0; i < pairs.length; i++) {
            var pos = pairs[i].indexOf("=");
            if (pos == -1) continue;
            var argname = pairs[i].substring(0, pos);
            var value = pairs[i].substring(pos + 1);
            args[argname] = decodeURIComponent(value);
        }
        return args;
    }
    var args = getArgs();
    //document.getElementById("img_role").attributes("src") = "images/" + args.role + ".png";
</script>

<body>
    <div class="pk_div">
        <div class="pk_my">
            <img id="my_role" src="images/pika_back.png" />
            <img id="my_floor" src="images/floor.png" />
        </div>
        <div class="pk_bear">
            <img id="bear_role" src="images/bear.png" />
            <img id="bear_floor" src="images/floor.png" />
        </div>
        <!-- <div class="result_div">
            <img id="result_role" src="images/bear_fail.png"/>
            <img id="result_floor" src="images/floor.png"/>
        </div> -->
        <img id="bear_blood" src="images/bear_hp100.png" />
        <img id="my_blood" src="images/pika_hp100.png" />
    </div>
    <section id="showdata">
        <!-- <div class="depiction">
            <div class="content">
                糟糕！看來是個難纏的對手。<br/>
                看來是甩不掉他了......
            </div>
        </div> -->
        <div class="question">
            <div class="content">
                <!-- 你為什麼要修習學程呢？ -->
                {{ question }}
            </div>
        </div>
        <div class="option">
            <div class="content">
                <table>
                    <tr v-for="(item, index) in answer">
                        <td v-bind:id="index" v-on:click="reply(id_question,index,item)" v-if="index==0">A. {{item}}
                        </td>
                        <td v-bind:id="index" v-on:click="reply(id_question,index,item)" v-if="index==1">B. {{item}}
                        </td>
                        <td v-bind:id="index" v-on:click="reply(id_question,index,item)" v-if="index==2">C. {{item}}
                        </td>
                        <td v-bind:id="index" v-on:click="reply(id_question,index,item)" v-if="index==3">D. {{item}}
                        </td>
                        <td v-bind:id="index" v-on:click="reply(id_question,index,item)" v-if="index==4">E. {{item}}
                        </td>
                        <td v-if="seen && item=='其他' ">
                            <input type="text" id="input_other" v-model="other">
                            <button style="margin-right: 20px;" class="btn btn-outline-primary btn-sm" v-bind:id="index"
                                v-on:click="reply(id_question,index,item,1)">submit</button>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>A. 對學程有興趣。</td>
                        <td>B. 我也不知道，好像很有趣就選了。</td>
                    </tr>
                    <tr>
                        <td>C. 想修學程內的某些課程。</td>
                        <td>D. 其他</td>
                    </tr> -->
                </table>
            </div>
        </div>
        <div class="action">
            <div class="content">
                <table>
                    <tr>
                        <td>回答</td>
                        <td><a href="#dialog">背包</a></td>
                    </tr>
                    <tr>
                        <td>夥伴</td>
                        <td>逃跑</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- <div class="result">
            <div class="content">
                恭喜你成功<br/>
                可以到大草皮逛逛學程博覽會<br/>
                抽大獎呦~
            </div>
        </div> -->

        <!--跳出視窗-->
        <div id="dialog">
            <div class="dialog_box">
                <div class="dialog_content">
                    你/妳的背包空空如也。
                    <a href="#"><input type="submit" class="btn_dialog" value="確認" /></a>
                </div>
                <a class="dialog_close" href="#"></a>
            </div>
        </div>
    </section>
</body>
<script>
    var myJson, JSONdata
    var strUrl = location.search;
    var getPara, ParaVal;
    var aryPara = [];
    //Get Json file
    fetch('./assets/data/questions.json').then(function (response) {
        return response.json();
    }).then(function (myJson) {
        JSONdata = myJson;
    });

    var vm = new Vue({
        el: '#showdata',
        data: {
            score: "",
            finish: "",
            other: "",
            seen: false,
            id_question: 1,
            answer: ["是", "否"],
            question: "是否修過學程",
            id_student: sessionStorage.getItem("id_student"),
        },
        methods: {
            reply: function (id_question, id_answer, item, repeat) {
                /*
                    getURL                 => Get URL role=?
                    SendDataAJAX    => Use axios send data to php files.
                    getNextData         =>  get next question、question.id、answer in question.js
                */

                getNextData(vm, id_question, id_answer, item, repeat);
                if (this.finish == true) {
                    role = getURL();
                    sessionStorage.clear();
                    SendDataAJAX(id_question, id_answer, this.other, this.id_student, this.score);
                    //Change page
                    window.location.href =
                        './gettest.html?score=' + this.score + "&id_student=" + this.id_student + "&role=" + role;
                } else if ((item == "其他" && repeat == 1) || item != "其他") {
                    this.seen = false;
                    SendDataAJAX(id_question, id_answer, this.other, this.id_student, "");
                }
                if (repeat == 1) {
                    this.seen = false;
                    this.other = "";
                }
            },
        }
    })
    //SendDataAjax
    function SendDataAJAX(id_question, id_answer, other, id_student, score) {
        axios({
            method: 'post',
            url: 'ajax.php',
            data: {
                score: score,
                other: other,
                id_answer: id_answer,
                id_student: id_student,
                id_question: id_question,
            }
        })
            .then(function (response) {
                //console.log(response.data);
            })
            .catch(function (error) {
                console.log(error);
            });
    }


    function getURL() {
        if (strUrl.indexOf("?") != -1) {
            var getSearch = strUrl.split("?");
            getPara = getSearch[1].split("&");
            for (i = 0; i < getPara.length; i++) {
                ParaVal = getPara[i].split("=");
                aryPara.push(ParaVal[0]);
                aryPara[ParaVal[0]] = ParaVal[1];
            }
        }
        return aryPara['role'];
    }
</script>

</html>